.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > div {
  margin-right: 50px;
}

.header {
  color: white;
}

.header h2 {
  display: flex;
  justify-content: center;
}

.main {
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.wrapper {
  box-sizing: border-box;
  min-width: 200px;
  min-height: 350px;
  margin: 15px;
  display: flex;
  background-color: rgba(184, 204, 231, 0.38);
  border-radius: 3%;
  border: 2px solid rgba(4, 105, 0, 0.83);
  padding: 8px;
  color: white;
}
.wrapperBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error {
  border: solid 2px red;
}

.errorMessage {
  color: red;
}

.btnBox {
  display: flex;
  justify-content: space-around;
}

.isDone {
  text-decoration: underline;
  color: #000;
}